<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuss.model.mapper.sys.RoleMapper">
    <insert id="insertRole" parameterType="com.liuss.model.entity.sys.Role">
        INSERT INTO sys_role(delflag,createtime,name) VALUES (#{delFlag},current_time(),#{name})
    </insert>
    <update id="updateRole" parameterType="com.liuss.model.entity.sys.Role">
        UPDATE sys_role SET delflag=#{delFlag},updatetime=current_time(),name=#{name} WHERE id=#{id}
    </update>
    <delete id="deleteRole" parameterType="java.lang.Integer">
        DELETE FROM sys_role WHERE id=#{id}
    </delete>
    <select id="findAllRoles" resultType="com.liuss.model.entity.sys.Role">
        SELECT * FROM sys_role
    </select>
    <select id="findRolesByName" resultType="com.liuss.model.entity.sys.Role" parameterType="java.lang.String">
        SELECT * FROM sys_role WHERE name LIKE concat('%',#{name},'%')
    </select>
</mapper>