<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/ext5.0.0/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
    <script type="text/javascript" src="/ext5.0.0/ext-all.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
<script type="text/javascript">
    Ext.onReady(function () {
        var loginForm=Ext.create('Ext.form.Panel',{
            title:'用户登录',
            id:'loginform',
            bodyPadding:10,
            width:400,
            defaultType:'textfield',
            fieldDefaults:{
                labelAlign:'left',
                labelWidth:100
            },
            items:[{
                id:'username',
                name:'username',
                fieldLabel:'用户名',
                inputType:'text',
                blankText:'用户名不能为空',
                emptyText:'请输入用户名',
                allowBlank:false
            },
                {
                    id:'password',
                    name:'password',
                    fieldLabel:'密码',
                    inputType:'password',
                    emptyText:'请输入密码',
                    blankText:'密码不能为空',
                    allowBlank:false
                },
                {
                    xtype:'label',
                    id:'faillogin'
                }
            ],
            buttons:[
                {
                    text:'登录',
                    id:'login_btn',
                    formBind:true,
                    disabled:true,
                    listeners:{
                        click:function () {
                            var form=this.up('form').getForm();
                            Ext.get('faillogin').dom.innerHTML='';
                            if(form.isValid()){
                                form.submit({
                                    waitMsg:'正在登录...',
                                    url:'/login',
                                    method:'POST',
                                    success:function (form, action) {
                                        location.href=action.result.url;
                                    },
                                    failure:function (form, action) {
                                        var failMsg;
                                        switch (action.failureType) {
                                            case Ext.form.Action.CONNECT_FAILURE:
                                                failMsg='服务器没有响应';
                                                break;
                                            case Ext.form.Action.SERVER_INVALID:
                                                failMsg='用户或密码错误，请重试';
                                                break;}
                                        Ext.get('faillogin').dom.innerHTML='<span style="color: red">'+failMsg+'</span>';
                                    }
                                });
                            }
                        }
                    }
                }
            ]
        });

        Ext.getBody().on('keypress',function (e) {
            if(e.charCode==Ext.EventObject.ENTER){
                Ext.getCmp('login_btn').fireEvent('click');
            }
        });
        var centerWindow=new Ext.Window({
            layout:'absolute',
            closable:false,
            draggable:false,
            resizable:false,
            shadow:false,
            border:false,
            items:[loginForm]
        });
        centerWindow.show();
        Ext.EventManager.onWindowResize(function () {
            centerWindow.center();
        })
    })
</script>
</body>
</html>