<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/ext5.0.0/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
    <script type="text/javascript" src="../static/ext5.0.0/ext-all.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>
<span style="color: red" th:if="${param.error}">用户或密码错误，请重试</span><br/>
<form action="/login" method="post">
    登录名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    <button type="submit">登录</button>
</form>
<!--<script type="text/javascript">-->
    <!--Ext.onReady(function () {-->
        <!--var loginPanel=new Ext.Panel({-->
            <!--id:'loginPan',-->
            <!--x:363,-->
            <!--y:0,-->
            <!--width:396,-->
            <!--height:480,-->
            <!--defaults:{-->
                <!--border:false-->
            <!--},-->
            <!--items:[-->
                <!--{-->
                    <!--id:'loginForm',-->
                    <!--defaultType:'textfield',-->
                    <!--frame:false,-->
                    <!--defaults:{-->
                        <!--allowBlank:false-->
                    <!--},-->
                    <!--items:[-->
                        <!--{-->
                            <!--id:'username',-->
                            <!--fieldLabel:'登录名',-->
                            <!--inputType:'text',-->
                            <!--width:330,-->
                            <!--height:28,-->
                            <!--blankText:'账号不能为空',-->
                            <!--emptyText:'请输入账号'-->
                        <!--},-->
                        <!--{-->
                            <!--id:'password',-->
                            <!--inputType:'password',-->
                            <!--width:330,-->
                            <!--height:28,-->
                            <!--emptyText:'请输入密码',-->
                            <!--blankText:'密码不能为空'-->
                        <!--}-->
                    <!--]-->
                <!--},-->
                <!--{-->
                    <!--id:'loginForget',-->
                    <!--html:'<a href="forget_pwd.html" target="_blank">忘记密码？</a>'-->
                <!--},-->
                <!--{-->
                    <!--id:'loginBtn',-->
                    <!--html:'<button id="btn_login">马上登录</button>'-->
                <!--}-->
            <!--]-->
        <!--});-->

        <!--var centerWindow=new Ext.Window({-->
            <!--width:800,-->
            <!--height:480,-->
            <!--layout:'absolute',-->
            <!--closable:false,-->
            <!--draggable:false,-->
            <!--resizable:false,-->
            <!--shadow:false,-->
            <!--border:false,-->
            <!--items:[loginPanel]-->
        <!--});-->
        <!--centerWindow.show();-->
        <!--Ext.EventManager.onWindowResize(function () {-->
            <!--centerWindow.center();-->
        <!--})-->
    <!--})-->
<!--</script>-->
</body>
</html>