<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="/ext5.0.0/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css">
    <script type="text/javascript" src="/ext5.0.0/ext-all.js"></script>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body style="height: 100%;">
<script type="text/javascript">
    var username='';
    var model=Ext.define("TreeModel",{
        extend:'Ext.data.Model',
        fields:[
            {name:'id',type:'string'},
            {name:'text',type:'string'},
            {name:'iconCls',type:'string'},
            {name:'leaf',type:'boolean'},
            {name:'url',type:'string'},
            {name:'expanded',type:'boolean'}
        ]
    });
    var store=Ext.create('Ext.data.TreeStore',{
        model:model,
        proxy:{
            type:'ajax',
            url:'/authorized/getmenus',
            reader:{
                type:'json'
            }
        },
        root : {
            expanded : true
        }
    });
    function getusername() {
        Ext.Ajax.request({
                url:'/authorized/getusername',
                method:'get',
                success:function (response, options) {
                    username=Ext.util.JSON.decode(response.responseText).username;
                    createView();
                },
                failure:function () {
                    createView();
                }
            }
        );
    };
    function initMain() {
        Ext.MessageBox.wait("正在加载页面，请稍候...", "等待");
        getusername();
    };
    Ext.onReady(function () {
        initMain();
    });
    function createView() {
        Ext.MessageBox.close();
        Ext.create('Ext.container.Viewport',{
            layout:'border',
            items:[
                {
                    region:'north',
                    height:50,
                    xtype:'panel',
                    loader:{
                        renderer : function(loader, response, active) {
                            loader.getTarget().update(response.responseText, true);
                            return true;
                        },
                        url:"/authorized/header",
                        loadMask:'loading...',
                        autoLoad:true,
                        scripts:true
                    },
                    rbar:[
                        {xtype:'tbfill'},
                        {
                            id:'userInfo',
                            text:username,
                            scale:'medium',
                            menu:[
                                {
                                    text:'退出登录',
                                    xtype:'button',
                                    handler:function () {
                                        location.href='/logout'
                                    }
                                }
                            ]
                        },
                        {xtype:'tbfill'}
                    ]
                },
                {
                    region:'west',
                    xtype:'treepanel',
                    collapsible:true,
                    split:true,
                    listeners:{
                        itemclick:function (view, record, item) {
                            if(record.data.leaf){
                                var tabPanel=Ext.getCmp('my_center');
                                var tabcount=tabPanel.items.length;
                                if(tabcount>=10){
                                    Ext.Msg.alert('提示','您当前打开了太多的页面，如果继续打开，请先关闭其他页面！');
                                }else {
                                    if(!Ext.getCmp(record.data.id)){
                                        tabPanel.add({
                                            id:record.data.id,
                                            title:record.data.text,
                                            closable:true,
                                            autoScroll:true,
                                            layout:'fit',
                                            frame:true,
                                            items:[
                                                {
                                                    showMask:true,
                                                    maskMsg:'正在加载...',
                                                    scripts:true,
                                                    html:'<iframe id=""'+'frame_'+record.data.id+'" width="100%" height="100%" frameborder="0" src="'+record.data.url+'"></iframe>'
                                                }
                                            ]
                                        });
                                    };
                                    tabPanel.setActiveTab(record.data.id);
                                }
                            }
                        }
                    },
                    width:200,
                    store:store,
                    rootVisible:false
                },
                {
                    id:'southinfo',
                    region:'south',
                    split:true,
                    height:50,
                    minHeight:20,
                    loader:{
                        renderer : function(loader, response, active) {
                            loader.getTarget().update(response.responseText, true);
                            return true;
                        },
                        url:"/authorized/footer",
                        loadMask:'loading...',
                        autoLoad:true,
                        scripts:true
                    }
                },
                {
                    region:'center',
                    id:'my_center',
                    xtype:'tabpanel',
                    activeTab:0,
                    items:{
                        title:'首页',
                        frame:true,
                        layout:'fit',
                        items:[
                            {
                                showMask:true,
                                maskMsg:'正在加载...',
                                scripts:true,
                                html:'<iframe id="frame_home" width="100%" height="100%" frameborder="0" src="/authorized/home"></iframe>'
                            }
                        ]
                    }
                }
            ]
        });
    };
</script>
</body>
</html>